[submodule "extern/Catch2"]
	path = extern/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "extern/cpsCore"]
	path = extern/cpsCore
	url = https://github.com/theilem/cpsCore
[submodule "extern/uavGS"]
	path = extern/uavGS
	url = https://github.com/theilem/uavGS
