# Ignoring Build Folder
[Bb]ld*/
build/

# Ignoring generated protobuff headers

# Ignoring Qt User Profiles
*.user
uavAP.cflags
uavAP.config
uavAP.creator
uavAP.cxxflags
uavAP.files
uavAP.includes

.idea
